/* Dropdown styles*/
.dropdown-container {
    position: relative;
    display: inline-block;
}
.dropdown-container:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: #1f6321;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-items {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    transition: max-height .2s ease-in-out, opacity 0.2s ease-in-out;;
    overflow: hidden;
}
.dropdown-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-items a:hover {
    background-color: #f1f1f1
}

.dropdown-container:hover .dropdown-items {
    max-height: 900px;
    opacity: 1;
}

/* Hamburger menu & modal styles */
#hamburger-menu  img {
    width: 35px;
}
.burger {
    position: relative;
    cursor: pointer;
    display: block;
}
.burger input {
    display: none;
}
.burger #burger-open {
    display: block;
}
.burger #burger-close {
    display: none;
}
.burger input:checked ~ #burger-open {
    display: none;
}
.burger input:checked ~ #burger-close {
    display: block;
}

/* Sidebar */
.sidebar {
    position: absolute;
    width: 300px;
    top: 0;
    bottom: 0;
    left: -300px;
    background-color: #f1f1f1;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar.active {
    left: 0;
}

/* Overlay */
#menu-overlay {
    opacity: 0;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
#menu-overlay.active {
    opacity: 1;
}